.window-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  border: 1px solid black;
}

:host(.show) {
  position: fixed;
}

:host(.minimized) {
  position: unset;
}

:host(.maximized) {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}